dfend2end/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfend2end"
		},
		"azure_dakelake_con_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'azure_dakelake_con'"
		},
		"azure_end2end_con_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'azure_end2end_con'"
		},
		"azure_dakelake_con_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageend2end.dfs.core.windows.net/"
		},
		"azure_end2end_con_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "end2end-server.database.windows.net"
		},
		"azure_end2end_con_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "azureprojectDB"
		},
		"azure_end2end_con_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "invictusaman"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/azure_dakelake_con')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('azure_dakelake_con_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('azure_dakelake_con_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_end2end_con')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('azure_end2end_con_properties_typeProperties_server')]",
					"database": "[parameters('azure_end2end_con_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('azure_end2end_con_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('azure_end2end_con_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azureSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_end2end_con",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_end2end_con')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/json_last_update')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_dakelake_con",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_dakelake_con')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parquet_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_dakelake_con",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_dakelake_con')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Optimized_with_ForLoop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Instead of providing individual input, this loop runs through a list of dictionary inputs and auto fetch schema, table name, cdc column and back date. Just trying to make life easier.",
				"activities": [
					{
						"name": "ForEach_Loop",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.forloop_input",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "AzureSQL2Lake",
									"description": "Moving data from Azure SQL Dababase to Azure ADLS Gen 2",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "FetchLastUpDate",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "FetchCurrentStamp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "Select * \nfrom @{item().schema}.@{item().table}\nWhere @{item().CDC_col} > \n'@{if(empty(item().back_date),\nactivity('FetchLastUpDate').output.value[0].cdc,\nitem().back_date)}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "azureSQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "parquet_file",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze-end2end",
												"folder": {
													"value": "@item().table",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(item().table,'_',variables('current_timestamp'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "FetchLastUpDate",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "json_last_update",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze-end2end",
												"folder": {
													"value": "@{item().table}_CDC",
													"type": "Expression"
												},
												"file": "last_updated.json"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "FetchCurrentStamp",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current_timestamp",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IfNewData",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "AzureSQL2Lake",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('AzureSQL2Lake').output.dataRead, 0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "DeleteTempFile",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "parquet_file",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze-end2end",
															"folder": {
																"value": "@item().table",
																"type": "Expression"
															},
															"file": {
																"value": "@concat(item().table,'_',variables('current_timestamp'))",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "ModifyLastUpDate",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "FindMaxUpdate",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "cdc",
																"value": {
																	"value": "@activity('FindMaxUpdate').output.resultSets[0].rows[0].cdc",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "json_last_update",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze-end2end",
															"folder": {
																"value": "@{item().table}_CDC",
																"type": "Expression"
															},
															"file": "empty.json"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "json_last_update",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze-end2end",
															"folder": {
																"value": "@{item().table}_CDC",
																"type": "Expression"
															},
															"file": "last_updated.json"
														}
													}
												]
											},
											{
												"name": "FindMaxUpdate",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "azure_end2end_con",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "Select MAX(@{item().CDC_col}) as cdc\nfrom @{item().schema}.@{item().table}",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"forloop_input": {
						"type": "array",
						"defaultValue": [
							{
								"schema": "dbo",
								"table": "DimUser",
								"CDC_col": "updated_at",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimTrack",
								"CDC_col": "updated_at",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimDate",
								"CDC_col": "date",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimArtist",
								"CDC_col": "updated_at",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "FactStream",
								"CDC_col": "stream_timestamp",
								"back_date": ""
							}
						]
					}
				},
				"variables": {
					"current_timestamp": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azureSQL')]",
				"[concat(variables('factoryId'), '/datasets/parquet_file')]",
				"[concat(variables('factoryId'), '/datasets/json_last_update')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_end2end_con')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/incremental_ingestion_with_backfiling')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AzureSQL2Lake",
						"description": "Moving data from Azure SQL Dababase to Azure ADLS Gen 2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FetchLastUpDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FetchCurrentStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "Select * \nfrom @{pipeline().parameters.schema}.@{pipeline().parameters.table}\nWhere @{pipeline().parameters.CDC_col} > \n'@{if(empty(pipeline().parameters.back_date),\nactivity('FetchLastUpDate').output.value[0].cdc,\npipeline().parameters.back_date)}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "azureSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "parquet_file",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze-end2end",
									"folder": {
										"value": "@pipeline().parameters.table",
										"type": "Expression"
									},
									"file": {
										"value": "@concat(pipeline().parameters.table,'_',variables('current_timestamp'))",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "FetchLastUpDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "json_last_update",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze-end2end",
									"folder": {
										"value": "@{pipeline().parameters.table}_CDC",
										"type": "Expression"
									},
									"file": "last_updated.json"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FetchCurrentStamp",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_timestamp",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IfNewData",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "AzureSQL2Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('AzureSQL2Lake').output.dataRead, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "DeleteTempFile",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "parquet_file",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze-end2end",
												"folder": {
													"value": "@pipeline().parameters.table",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(pipeline().parameters.table,'_',variables('current_timestamp'))",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "ModifyLastUpDate",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "FindMaxUpdate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc",
													"value": {
														"value": "@activity('FindMaxUpdate').output.resultSets[0].rows[0].cdc",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "json_last_update",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze-end2end",
												"folder": {
													"value": "@{pipeline().parameters.table}_CDC",
													"type": "Expression"
												},
												"file": "empty.json"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "json_last_update",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze-end2end",
												"folder": {
													"value": "@{pipeline().parameters.table}_CDC",
													"type": "Expression"
												},
												"file": "last_updated.json"
											}
										}
									]
								},
								{
									"name": "FindMaxUpdate",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "azure_end2end_con",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "Select MAX(@{pipeline().parameters.CDC_col}) as cdc\nfrom @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"CDC_col": {
						"type": "string"
					},
					"back_date": {
						"type": "string"
					}
				},
				"variables": {
					"current_timestamp": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azureSQL')]",
				"[concat(variables('factoryId'), '/datasets/parquet_file')]",
				"[concat(variables('factoryId'), '/datasets/json_last_update')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_end2end_con')]"
			]
		}
	]
}